/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------- 
            Custom Styles 
---------------------------------*/
html{
    background-color: #5b3000 ;
	color: white;
}

.im im-menu{
	color: #c59849;
}

.im im-shopping-cart{
	display: inline-block;
}
.logo{
	width: 90px;
	height: 90px;
	margin-left: 15em;
	margin-top: 1em;
	margin-bottom: 0%;
}

/* Navbar container */
.mobile-nav {
	overflow: hidden;
	background-color: #c59849;
  }
  
  /* Links inside the navbar */
  .mobile-nav a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 16px; 
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .mobile-nav a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
/* -------------------------------------------------

-----------------------------------------------------*/
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
}

header{
	background-color: #c59849;	
}

/* The dots/bullets/indicators */
.dot{
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #c59849;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }

.mobile-buttons{
	padding-top: 3em;
	text-align: center;
	margin-bottom: 3em;
	display: flex;
}
.button{
	background-color: #c59849;
	color: white;
	text-decoration: none;
    display: inline-block;
    padding: 20px;
}
.button p{
	margin-bottom: 4em;
}

.home-arrival{
	width: 50%;
	margin-right: 10%;
}
.home-sale{
	width: 50%;
}

img{
	max-width: 100%;
	

}


.gucci-home{
	grid-area: picture2;
}
.jordan-home{
	grid-area: picture3;
}
.yeezy-home{
	grid-area: picture4;
}

.new-arrivals{
	display: grid;
	grid-template-columns: 1fr fr 1fr 1fr ;
	grid-template-areas:
	"picture2 picture4 picture3" ;
}

.shop-mens .button{
	display: block;
	height: 3em;
	font-size: 30px;
	text-align: center;
	padding-top: 2em;
}
.shop-mens img{
	margin-top: 2em;
}
.shop-womens .button{
	display: block;
	height: 3em;
	font-size: 30px;
	text-align: center;
	padding-top: 2em;
}
.shop-womens img{
	margin-top: 1em;
}
.shop-accessories .button{
	display: block;
	height: 3em;
	font-size: 30px;
	text-align: center;
	padding-top: 2em;
}
.shop-accessories img{
	margin-top: 1em;
}





/* Desktop and Tablet */
@media screen and (min-width: 800px){
	.slideshow{
		display: none;
	}
	.mobile-buttons{
		display: none;
	}
	
	.collection{
		display: flex;
		border: #e4b05c;
		border-style: solid;
		border-width: 10px;
		margin-bottom: 2em;
	}

	.nike img{
		height: 20em;
		width: 70em;
	}

	.adidas img{
		height: 10em;
		width: 90em;
	}

	.vlone img{

		height: 10em;
		padding-top: 10em;
		padding-right: 20em;
	}
}