
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
    /* ------------------------------
                Custom Styles
    ------------------------------- */
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    html{
        background-image:url(../images/landing1.jpeg);
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.6);

    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        margin-top: 30px;
    }

    .logo{
        color: black;
        background-color: #00b490;
        padding: 2px 2px 2px 2px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 18px;
    }

    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    .nav-links a{
        color: #00b490;
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .menu-toggle{
        position: absolute;
        right: 5rem;
        display: none;
        flex-direction: column; 
        justify-content: space-between;
        width: 30px;
        height: 20px;
    }

    .menu-toggle .line{
        height: 3px;
        width: 100%;
        background-color: #00b490;
        border-radius: 10px;
    }

    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em;
    }
    /* Welcome Portion */

    .welcome{
        color: white;
        font-size: 50px;
        text-align: center;
        margin-bottom: 5em;
        
    }
    .sitename{
        font-weight: bold;
    }
    .welcome h1,
    .welcome-button{
        padding-top: 5em;
    }

    button{
        width: 60%;
        height: 3em;
        color: white;
        background: none;
        border:1px solid #00b490;
    }
    button a :hover{
        background-color: #00b490;
    }


/* Card 1  */
    .card{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px 80px;
        grid-template-areas: "image" "text" "button";
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        border-radius: 18px;
        background: #00b490;
        margin-bottom: 2em;
        box-shadow: 5px 10px  5px grey;
        text-align: center;
        
    }

    .card-image{
        grid-area: image;
        background: url(/images/coding.png);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-size: cover;
    }

    .card-text{
        grid-area: text;
        margin: 25px;
        
    }

    .card-text h2{
        padding-bottom: 1em;
        font-size: 25px;
    }

    .card-text p{
        padding-bottom: 1em;
    }

    .card-button{
        grid-area: button;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid black;
        color: black;
        width: 20em;   
        
    }
    .card-button a{
        text-decoration: none;
        font-size: 30px;
        
    }

    .card-button :visited{
        color: black;
    }
    .card-button :hover{
        background: black;
        color: #00b490;
    }
    
   
    /* Card 2 */
    .card2{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 200px 80px;
        grid-template-areas: "image" "text" "stats";
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        border-radius: 18px;
        background: #00b490;
        margin-bottom: 2em;
        box-shadow: 5px 10px  5px grey;;
        text-align: center;
    }

    .card2-image{
        grid-area: image;
        background: url(/images/graphicdessign.jpeg);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-size: cover;
    }

    .card2-text{
        grid-area: text;
        margin: 25px;
    }

    .card2-text h2{
        padding-bottom: 1em;
        font-size: 25px;
    }

    .card2-text p{
        padding-bottom: 2em;
    }

    .card2-button{
        grid-area: button;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid black;
        color: black;
        width: 20em;   
        
    }
    .card2-button a{
        text-decoration: none;
        font-size: 30px;
        
    }

    .card2-button :visited{
        color: black;
    }
    .card2-button :hover{
        background: black;
        color: #00b490;
    }

    /* Card 3 */
    .card3{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 200px 80px;
        grid-template-areas: "image" "text" "stats";
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        border-radius: 18px;
        background: #00b490;
        box-shadow: 5px 10px 5px grey;
        text-align: center;
        
    }

    .card3-image{
        grid-area: image;
        background: url(/images/ux.png);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-size: cover;
    }

    .card3-text{
        grid-area: text;
        margin: 25px;
    }

    .card3-text h2{
        padding-bottom: 1em;
        font-size: 25px;
    }

    .card3-button{
        grid-area: button;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid black;
        color: black;
        width: 20em;   
        
    }
    .card-3text h2{
        padding-bottom: 1em;
        font-size: 25px;
    }

    .card3-text p{
        padding-bottom: 1.5em;
    }
    .card3-button a{
        text-decoration: none;
        font-size: 30px;
        
    }

    .card3-button :visited{
        color: black;
    }
    .card3-button :hover{
        background: black;
        color: #00b490;
    }

    /* Footer Section */
        footer{
            position: relative;
            width: 100%;
            height: auto;
            padding: 50px 100px;
            background-color: #00b490;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        footer .container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        footer .container .aboutus{
            width: 40%;
            margin-right: 1.5em;
        }   

        footer .container h3{
            position: relative;
            color: black;
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 15px;
        
        }

        .footer-menu{
            position: relative;
            width: 25%;
            margin-right: 1.5em;
        }

        .footer-menu ul li{
            list-style: none;
        }

        .footer-menu ul li a{
            color: black;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }

        .footer-menu ul li a:hover{
            color: grey;
        }

    
    @media screen and (max-width: 1000px){
       .menu-toggle{
           display: flex;
       }

       .nav-links{
        display: none;
       }
       .navbar{
           flex-direction: column;
           align-items: flex-start;
       }

       .nav-links{
        width:100%;
           flex-direction: column;
           text-align: center;
       }
       .nav-links li{
           margin-top: 2em;
       }

       .logo{
           margin-left: 5em;
       }

            /* Cards */
            .card-container{
                max-width: 1000px;
                margin: 0 auto;
                padding: 3em;
            }

    }
    @media screen and (min-width: 1000px){
  

       .site-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        margin-left: 5em;
        margin-right: em;
        background-repeat: no-repeat;
        background-size: cover;
       }

       
    }